.movie {
  width: 100%;
  max-height: 281px;
  box-sizing: border-box;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movie__pic {
  display: block;
  object-fit: cover;
  overflow: hidden;
  /* width: 364px; */
  height: 203px;
  width: 100%;
}

.movie__header {
  display: flex;
  justify-content: space-between;
  padding: 9px 16px 10px 16px;
}

.movie__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0 21px 0 0;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie__like {
  background-image: url(../../images/like.svg);
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.movie__like_active {
  background-image: url(../../images/active-like.svg);
  display: block;
}

.movie__like-delete {
  background-image: url(../../images/delete_card.svg);
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.movie__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  margin: 0 0 16px 16px;
}

@media screen and (max-width: 1000px) {
  .movie__pic {
    height: 190px;
  }

  .movie {
    max-height: 262px;
  }
}

@media screen and (max-width: 550px) {
  .movie {
    max-height: 237px;
  }

  .movie__pic {
    height: 168px;
  }

  .movie__header {
    padding: 7px 10px 6px 10px;
  }

  .movie__duration {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  .movie__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}
