.App {
  max-width: 100vw;
  /* max-width: 1280px;
  background-color: #fff; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
  background-color: #fff;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}
